body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 68, 68);
  /* min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #343028;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.header{
  font-size: 50px;
  color: aqua;
  text-shadow: 1px 5px 100px #61dafb;
  background-color: rgba(0, 0, 0, 0.74);
  border: 2px rgb(98, 0, 255) solid;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 5px 40px black;
}

.cell {
  font-size: calc(10px + 4vmin);
  width: 100px;
  height: 100px;
  color: aqua;
  background-color:rgb(98, 0, 255);
  box-shadow: 5px 10px 10px black;
  text-shadow: 1px 1px 30px cyan;
  /* margin: 30px; */
  border-radius: 7px;
  border-color: black;
  cursor: pointer;
  /* border: 1px solid black; */
}
.cell:hover {
  background-color:rgb(70, 0, 184);
}
#board {
  z-index: 1;
  position: absolute;
  border-spacing: 10px;
}
#fullscreen-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  position: fixed;
  z-index: 2;
}
#gameover {
  position: absolute;
  z-index: 3;
  color: rgb(255, 113, 113);
  background-color:rgb(98, 0, 255);
  box-shadow: 1px 10px 50px  black;
  text-shadow: 1px 5px 10px black;
  padding: 50px;
  border-radius: 10px;
}
#restartbtn {
  color: aqua;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.548);
  border-color: none;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
}
#restartbtn:hover {
  background-color: rgba(0, 0, 0, 0.836);
}
.cell:disabled {
  
  color:aqua;
  /* Additional styles as needed */
}
#gamecomplete {
  position: absolute;
  z-index: 3;
  color: rgb(113, 227, 255);
  background-color:rgb(98, 0, 255);
  box-shadow: 1px 10px 50px  black;
  text-shadow: 1px 5px 10px black;
  padding: 50px;
  border-radius: 10px;
}
#turn {
  color: rgb(255, 220, 154);
}